{% extends "base.html" %}
{% block title %}Nearby Karinderyas{% endblock %}

{% block content %}
<h2 class="mb-4">Nearby Karinderyas</h2>
<div class="row g-4">
    {% for id, details in restaurants.items() %}
    <div class="col-md-6 col-lg-4">
        <div class="card h-100 shadow-sm border-0">
            <div class="card-body text-center">
                <h5 class="card-title text-danger fw-bold">{{ details.name }}</h5>
                <p class="card-text text-muted mb-4">
                    📍 {{ details.address }}
                </p>
                <a href="{{ url_for('restaurant', restaurant_id=id) }}" class="btn btn-outline-danger w-100">View Menu</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}